<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="">
    <div>
      <input type="radio" class="form-check-input" id="radio1" name="optradio"><label >Negro</label>
      <br>
      <input type="radio">
      <br>
      <input type="radio">
      <br>
      <input type="radio">
      <br>
      <input type="radio">
      <br>
      <input type="radio">
      <br>
      <input type="radio">
      <br>
      <input type="radio">
      <br>
      <input type="radio">
      <br>
      <input type="radio">
    </div>
  </form>
</body>
</html>
